<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.UserMapper">
        <sql id ="selectAllUser">
            select id , age, email, name from user
        </sql>
    <select id="selectAllUserInfo" resultType="java.util.Map">
        <include refid="selectAllUser"></include>
    </select>
</mapper>